@model List<SiteCore.Data.ZPZ_EFFECTIVENESS>
<table class="table_report">
    <tr>
        <th rowspan="6">Наименование медицинской организации</th>
        <th colspan="4">Доля обоснованных жалоб пациентов на работу медицинской организации</th>
        <th colspan="4">Доля<br> нарушений, выявленных при проведении медико-экономической<br> экспертизы<br> </th>
        <th colspan="4">Доля<br> нарушений, выявленных при проведении экспертизы качества<br> медицинской помощи<br> <br> </th>
        <th rowspan="6">Общий балл</th>
    </tr>
    <tr>
        <th rowspan="5">Количество жалоб всего</th>
        <th rowspan="5">из них обоснованные </th>
        <th rowspan="5">Доля обоснованных %</th>
        <th rowspan="2">Нормативный балл</th>
        <th rowspan="5">Количество МЭЭ всего</th>
        <th rowspan="5">из них с<br> нарушениями </th>
        <th rowspan="5">Доля нарушений %</th>
        <th rowspan="2">Нормативный балл </th>
        <th rowspan="5">Количество ЭКМП всего</th>
        <th rowspan="5">из них с<br> нарушениями </th>
        <th rowspan="5">Доля нарушений %</th>
        <th rowspan="2">Нормативный балл </th>
    </tr>
    <tr></tr>
    <tr>
        <th>&lt; 5% - 15</th>
        <th>&lt; 20% - 8</th>
        <th>&lt; 20% - 8</th>
    </tr>
    <tr>
        <th>5-10% - 11</th>
        <th>20-50% - 6</th>
        <th>20-50% - 6</th>
    </tr>
    <tr>
        <th>&gt; 10% - 7</th>
        <th>&gt; 50% - 3</th>
        <th>&gt; 50% - 3</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NAM_MOK</td>
            <td>@item.COUNT</td>
            <td>@item.COUNT_OSN</td>
            <td>@item.DOL_OSN</td>
            <td>@item.BAL_OSN</td>
            <td>@item.C_MEE</td>
            <td>@item.C_MEE_ERR</td>
            <td>@item.DOL_MEE</td>
            <td>@item.BAL_MEE</td>
            <td>@item.C_EKMP</td>
            <td>@item.C_EKMP_ERR</td>
            <td>@item.DOL_EKMP</td>
            <td>@item.BAL_EKMP</td>
            <td>@item.SUM_BAL</td>
        </tr>
    }
</table>
<h2></h2>
<form asp-action="GET_EFFECTIVENESS_VIEWXLS" method="get">
    <input type="submit" value="Скачать Excel" class="ActionButton" @(Model.Count == 0 ? "disabled" : "")/>
</form>
