@using CRZ_IDENTITIFI
@using IdentiModel
<style>
    .Inst h1,h2,h3 {
        text-align: center;
    }
    .Inst .center {
        text-align: center;
    }
    .Inst .img-ridge {
        border:ridge;
        margin:10px;
    }
</style>
<div class="Inst">

    <h1>Инструкция по работе с запросами в ЦС ЕРЗ</h1>

    <p><b>ЦС ЕРЗ</b> - центральный сегмент единого регистра застрахованных лиц. Он содержит информацию о страховании лиц на территории Российской Федерации</p>
    <p>Данный сервис позволяет отправлять запросы к ЦС ЕРЗ, с целью получения информации о страховании пациента<br />Запросы отправляются списками</p>


    Порядок создание запроса следующий:
    <ol>
        <li>Создание списка на идентификацию</li>
        <li>Заполнение списка данными о пациентах</li>
        <li>Отправка сообщения в ЦС ЕРЗ</li>
        <li>Получение ответа от ЦС ЕРЗ</li>
    </ol>

    <h2>Общая структура интерфейса</h2>

    <div class="center">
        <img width="1000" class="img-ridge" src="~/Image/InstructionCS/MainWin.png" /><br />
        <span>Главное меню</span>
    </div>


    <ol>
        <li><b>Инструкция</b> - кнопка для отображения данной инструкции</li>
        <li><b>Статус сервиса приема</b> - За отправку сообщений в ЦС ЕРЗ от данного сайта занимается другой сервис. Данное окно показывает текущее состояние этого сервиса. Если сервис не доступен, то вы можете создавать списки, однако отправка произойдет  только после активации сервиса</li>
        <li><b>Область списков</b> - данное окно содержит все списки созданные пользователями Вашей организации</li>
        <li><b>Область пациентов</b> - данное окно содержит пациентов "текущего списка"</li>
    </ol>
    Обращаем Ваше внимание, что "Область списков" и "Область пациентов" отражают данные постранично.<br />
    Так же они имеют контекстное меню. Для вызова контекстного меню нажмите правой кнопкой мыши внутри области.<br />

    <b>Текущий список</b> - список выбранный двойным щелчком левой кнопки мыши т.е. список который обрабатывает "Область пациентов"

    <h2>Область списков</h2>
    <p>
        Область содержит следующие поля:
        <ol>
            <li>
                <b>Статус</b> - текущие состояние списка<br/>
                Существуют следующие статусы:
                <ul>
                    <li><img src="~/Image/documentedit.png" height="30"/> @StatusCS_LIST.New.ToRusStr()</li>
                    <li><img src="~/Image/Onsend.png" height="30"/> @StatusCS_LIST.OnSend.ToRusStr()</li>
                    <li><img src="~/Image/send.png" height="30"/> @StatusCS_LIST.Send.ToRusStr()</li>
                    <li><img src="~/Image/sendandOK.png" height="30"/> @StatusCS_LIST.FLK.ToRusStr()</li>
                    <li><img src="~/Image/IconOK.png" height="30"/> @StatusCS_LIST.Answer.ToRusStr()</li>
                    <li><img src="~/Image/IconERROR.png" height="30"/> @StatusCS_LIST.Error.ToRusStr()</li>
                </ul>
            </li>
        <li><b>МО</b> - код медицинской организации пользователя создавшего список</li>
        <li><b>Наименование</b> - наименование списка указанное при создании</li>
        <li><b>Дата</b> - дата создание списка</li>
    </ol>

    <div class="center">
        <img class="img-ridge" src="~/Image/InstructionCS/ContextMenu1.png" alt="Контекстное меню области списков"/><br/>
        <span>Контекстное меню области списков</span>
    </div>

    Контекстное меню области списков имеет следующие пункты:
    <ul>
        <li><b>Новый</b> - открывает окно создания нового списка</li>
        <li><b>Отправить</b> - помечает выбранные* списки как готовые к отправке</li>
        <li><b>Удалить</b> - удаляет выбранные* списки</li>
        <li><b>Обновить</b> - производит обновление данных с сервера</li>
    </ul>
    <i>*Для группового выделения используйте клавиши CTRL и SHIFT</i>

    <h2>Область пациентов</h2>


    Область пациентов следующие поля:
    <ol>
        <li>
            <b>Статус</b> - текущие состояние обработки в ЦС ЕРЗ<br />
            Существуют следующие статусы:
            <ul>
                <li><img src="~/Image/question.png" height="30" /> Ответ не поступал из ЦС ЕРЗ</li>
                <li><img src="~/Image/IconOK.png" height="30" /> Пациент найден в ЦС ЕРЗ</li>
                <li><img src="~/Image/IconERROR.png" height="30" /> Пациент не найден в ЦС ЕРЗ</li>
            </ul>
        </li>
        <li><b>Фамилия</b></li>
        <li><b>Имя</b></li>
        <li><b>Отчество</b></li>
        <li><b>Дата рождения</b></li>
        <li><b>Полис</b></li>
        <li><b>Документ</b></li>
        <li><b>Текущая СМО</b> - последние страхование пациента</li>
    </ol>
    
    <div class="center">
        <img class="img-ridge" src="~/Image/InstructionCS/ContextMenu2.png" alt=""/><br />
        <span>Контекстное меню области пациентов</span>
    </div>
  

    Контекстное меню области пациентов имеет следующий пункты:
    <ul>
        <li><b>Новый</b> - открывает окно создания нового списка. Необходимо установить текущий список</li>
        <li><b>Просмотр</b> - открыть окно результатов*</li>
        <li><b>Удалить</b> - удаляет выбранных** пациентов</li>
        <li><b>Обновить</b> - производит обновление данных с сервера</li>
    </ul>
    <i>*Двойной щелчок левой кнопки мыши на строке вызовет данный пункт контекстного меню</i><br />
    <i>**Для группового выделения используйте клавиши CTRL и SHIFT</i>



    <h2>Результат обработки</h2>
    ЦС ЕРЗ в случае нахождения пациента возвращает следующие данные
    <ol>
        <li>
            <b>Главное ЕНП</b> - ЕНП используемое как текущий в ЦС ЕРЗ
            </li>
        <li><b>Дата рождения</b></li>
        <li><b>Дата смерти</b></li>
        <li><b>Уровень доверия к информации</b> - Уровень доверия к информации, возвращённой в ответ на запрос<br/>
            Возможны следующие значения
            <ul>
                <li><b>Результату можно доверять</b> - Ответ получен в результате точного совпадения данных</li>
                <li><b>Степень доверия высокая</b> - Ответ получен в результате неточного совпадения данных</li>
                <li><b>Степень доверия умеренная или низкая</b> - Ответ получен в результате неточного совпадения данных или при неполном сравнении</li>
            </ul>
            </li>
        <li><b>Ключи поиска</b> - по каким полям удалось найти пациента<br/>
            Возможны следующие значения
            <ul>
                @{
                    string[] values = { "H01","P01","H02","P02","H03","P03","H04","P04","H05","P05","H11","P11","H12","P12","H14","P14","H15","P15","H16","P16","H17","P17","H18","P18" };
                    foreach (var item in values)
                    {
                        <li><b>@item</b> - @item.LVL_D_kod_TO_RUS()</li>
                    }
                }
            </ul>
            </li>
        <li><b>История страхования</b> - данные о страховых компаниях пациента со сроком действия страховок</li>
    </ol>
    
    <div class="center">
        <img class="img-ridge" width="1800" src="~/Image/InstructionCS/ResWin.png"/><br/>
        <span>Пример ответа ЦС ЕРЗ</span>
    </div>

</div>


