@using CRZ_IDENTITIFI
@using SiteCore.Class
@using SiteCore.Data
@model CS_LIST_IN

<fieldset>
    <legend>Исходные данные</legend>
    <table>
        <tr><td class="BoldText">ФИО</td><td>@Model.FIO</td></tr>
        <tr><td class="BoldText">Дата рождения</td><td>@Model.DR.ToString("dd-MM-yyyy")</td></tr>
        <tr><td class="BoldText">Пол</td><td>@(Model.W==1? "Мужской" : "Женский")</td></tr>
        <tr><td class="BoldText">Полис</td><td>@Model.POLIS</td></tr>
        <tr><td class="BoldText">Документ</td><td>@Model.DOC</td></tr>
        <tr><td class="BoldText">СНИЛС</td><td>@Model.SNILS</td></tr>
    </table>
</fieldset>

<fieldset>
<legend>Результаты</legend>

@if (Model.STATUS == true)
{
    if (Model.CS_LIST_IN_RESULT.Count == 0)
    {
      
            <div>Результат не найден в базе данных</div>

    }
    else
    {
        int i = 0;
        foreach (var res in Model.CS_LIST_IN_RESULT)
        {
            i++;
            <fieldset>
                <legend>Результат @i</legend>
                    <table>
                        <tr><td class="BoldText">Главное ЕНП</td><td>@res.ENP</td></tr>
                        <tr><td class="BoldText">Дата рождения</td><td>@res.DR.ToString("dd-MM-yyyy")</td></tr>
                        <tr><td class="BoldText">Дата смерти</td><td>@res.DDEATH.ToString("dd-MM-yyyy")</td></tr>
                        <tr>
                            <td class="BoldText">Уровень доверия к информации</td>
                            <td>
                                @if (!string.IsNullOrEmpty(res.LVL_D_KOD))
                            {
                                    <span>@res.LVL_D.LVL_D_TO_RUS()</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="BoldText">Ключи поиска</td>
                            <td>
                                @if (!string.IsNullOrEmpty(res.LVL_D_KOD))
                            {
                                foreach (var lvl in res.LVL_D_KOD.Split(';'))
                                {
                                        <span>@($"{lvl} - {lvl.LVL_D_kod_TO_RUS()}")</span><br />
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                    <h3 style="text-align: center">История страхования</h3>
                    <table class="table_report">
                        <tr>
                            <th>ЕНП</th>
                            <th>OKATO ТФОМС</th>
                            <th>Наименование ТФОМС</th>
                            <th>Тип кода СМО</th>
                            <th>Код СМО</th>
                            <th>Наименование СМО</th>
                            <th>Дата начала</th>
                            <th>Дата окончания</th>
                            <th>Тип ДПФС</th>
                            <th>Серия</th>
                            <th>Номер</th>
                            <th>Территория</th>
                        </tr>
                        @foreach (var p in res.CS_LIST_IN_RESULT_SMO.OrderByDescending(x => x.DATE_E ?? DateTime.Now))
                        {
                            <tr>
                                <td>@p.ENP</td>
                                <td>@p.TF_OKATO</td>
                                <td>@(p.TFOMS?.NAME_TFK)</td>
                                <td>@p.TYPE_SMO.ToRusStr()</td>
                                <td>@p.SMO</td>
                                <td>@p.SMO_NAME</td>
                                <td>@p.DATE_B.ToString("dd-MM-yyyy")</td>
                                <td>@p.DATE_E.ToString("dd-MM-yyyy")</td>
                                <td>@p.VPOLIS.ToRusStr()</td>
                                <td>@p.SPOLIS</td>
                                <td>@p.NPOLIS</td>
                                <td>@p.SMO_OK</td>
                            </tr>
                        }
                    </table>
            </fieldset>
        }
    }


}
else
{
    if (Model.STATUS == false)
    {
        <div>Не найден в ЦС</div>
    }
    else
    {
        <div>Результат еще не получен</div>
    }
}

</fieldset>
