@model AddMEE_EKMPModel

<ul ng-repeat="ERR in ErrExpertise">
    <li class="ErrorLi">{{ERR}}</li>
</ul>

<h1>Акт {{CurrentExpertize.S_TIP|S_OSN_NAME}}</h1>


<div>
    <div  ng-if="IsLoadExpertize === true">Загрузка...</div>
    <div  ng-if="IsLoadExpertize === false">
        <div>
            <label class="BoldText">№ акта </label><input ng-model="CurrentExpertize.NUMACT" type="text" />
            <label class="BoldText"> Дата акта </label><input ng-model="CurrentExpertize.DATEACT" type="date" />
            <label ng-if="CurrentExpertize.S_TIP == 2"> ФИО специалиста-эксперта </label><input ng-model="CurrentExpertize.FIO" type="text" ng-if="CurrentExpertize.S_TIP == 2" />
            <label class="BoldText" ng-if="CurrentExpertize.S_TIP == 3"> Врач ЭКМП </label>
            <select ng-model="CurrentExpertize.N_EXP" class="select-select2" ng-if="CurrentExpertize.S_TIP == 3" convert-to-number select-2>
                <option disabled value="">------</option>
                @foreach (var item in Model.EXPERTS)
                {
                    <option value="@item.N_EXPERT">@item.FIO</option>
                }
            </select>


            <div ng-if="CurrentExpertize.S_TIP !== 1">
                <hr />
                <table class="table_input">
                    <tr>
                        <td class="BoldText" width="70%">Наличие заключение медицинского работника, привлекаемого для проведения консультации и (или) участия в консилиуме врачей с применение телемедицинских технологий или протокола консилиума врачей</td>
                        <td>
                            <label class="radio"><input type="radio" ng-model="CurrentExpertize.ISCOROLLARY" ng-value="false">Нет</label>
                            <label class="radio"><input type="radio" ng-model="CurrentExpertize.ISCOROLLARY" ng-value="true">Да</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="BoldText">Наличие факта отражения рекомендаций в медицинской документации, в том числе в листе назначения</td>

                        <td>
                            <label class="radio"><input type="radio" ng-model="CurrentExpertize.ISRECOMMENDMEDDOC" ng-value="false">Нет</label>
                            <label class="radio"><input type="radio" ng-model="CurrentExpertize.ISRECOMMENDMEDDOC" ng-value="true">Да</label>
                        </td>
                    </tr>
                    <tr ng-if="CurrentExpertize.S_TIP == 3">
                        <td class="BoldText">Наличие в медицинской документации медицинских показаний, не позволяющих применить рекомендацию(и)</td>
                        <td>
                            <label class="radio"><input type="radio" ng-model="CurrentExpertize.ISNOTRECOMMEND" ng-value="false">Нет</label>
                            <label class="radio"><input type="radio" ng-model="CurrentExpertize.ISNOTRECOMMEND" ng-value="true">Да</label>
                        </td>
                    </tr>
                    <tr ng-if="CurrentExpertize.S_TIP == 3">
                        <td class="BoldText">Заключение эксперта качества медицинской помощи об обоснованности действий лечащего врача</td>
                        <td>
                            <label class="radio"><input type="radio" ng-model="CurrentExpertize.ISOSN" ng-value="false">Необоснованно</label>
                            <label class="radio"><input type="radio" ng-model="CurrentExpertize.ISOSN" ng-value="true">Обоснованно</label>
                        </td>
                    </tr>
                </table>

                <hr />
                <label class="BoldText">Цель консультаций/консилиумов с применением телемедицинских технологий</label>
                <select style="width: 100%;" class="select-select2" ng-model="CurrentExpertize.CELL" convert-to-number select-2>
                    <option disabled value="">------</option>
                    @foreach (var item in Model.NMIC_CELL)
                    {
                        <option value="@item.CELL">@item.CELL_NAME</option>
                    }
                </select>
                <hr />

                <div ng-if="CurrentExpertize.S_TIP == 3">
                    <label class="BoldText">Оценка полноты выполнения медицинскими организациями рекомендаций медицинских работников НМИЦ по применению методов профилактики, диагностики, лечения и реабилитации, данных при проведении указанными центрами консультаций/консилиумов с применением телемедицинских технологий</label>
                    <select style="width: 100%;" class="select-select2" ng-model="CurrentExpertize.FULL" convert-to-number select-2>
                        <option disabled value="">------</option>
                        @foreach (var item in Model.NMIC_FULL)
                        {
                            <option value="@item.FULL">@item.FULL_NAME</option>
                        }
                    </select>
                    <hr />
                    <label class="BoldText">Констатировано неисполнение следующих рекомендаций:</label>
                    <p />
                    <textarea type="text" style="width: 100%; height: 100px; max-width: 100%;" ng-model="CurrentExpertize.NOTPERFORM" maxlength="1500"></textarea>
                    <hr />
                </div>
            </div>
        </div>
        <div style="max-width: 100%;">
            <label class="BoldText">Список дефектов</label>
            <script>
                var index = 0;
            </script>
            <table class="table_report">
                <tr>
                    <th>Дефект</th>
                    <th>Комментарий</th>
                    <th>Сумма</th>
                    <th>Штраф</th>
                    <th width="20px;"></th>
                </tr>
                <tr ng-repeat="osn in CurrentExpertize.OSN">
                    <td>
                        <select style="width: 100%;" ng-model="osn.S_OSN" class="select-select2" convert-to-number select-2>
                            <option disabled value="">------</option>
                            @foreach (var item in Model.F014)
                            {
                                <option value="@item.KOD">@item.FullName</option>
                            }
                        </select>
                    </td>
                    <td><textarea type="text" style="width: 100%; box-sizing: border-box;" maxlength="1500" ng-model="osn.S_COM"></textarea></td>
                    <td><input type="text" pattern="[0-9]+([,][0-9]{1,2})?" placeholder="0,00" style="width: 100%; box-sizing: border-box;" maxlength="1500" ng-model="osn.S_SUM" /></td>
                    <td><input type="text" pattern="[0-9]+([,][0-9]{1,2})?" placeholder="0,00" style="width: 100%; box-sizing: border-box;" maxlength="1500" ng-model="osn.S_FINE" /></td>
                    <td><input type="submit" class="delButtonICO" value="" style="width: 30px; height: 30px;" ng-click="deleteOSN(osn)" /></td>
                </tr>
            </table>
            <div style="margin-top: 10px;">
                <input type="button" value="Добавить дефект" class="ActionButton" style="display: block; margin-right: 0; margin-left: auto;" ng-click="addOSN()" />
            </div>
        </div>

        <input type="button" value="Сохранить" class="ActionButton" ng-click="SaveExpertize()" />
    </div>
</div>

  