@using SiteCore.Data
@model SiteCore.Models.IndexModel
@{
    ViewBag.Title = "Справочник ТМК";
}

@{
    var IsTMKUser = User.IsInRole("TMKUser");
    var IsTMKAdmin = User.IsInRole("TMKAdmin");
    var IsTMKReader = User.IsInRole("TMKReader");
    var IsTMKSMO = User.IsInRole("TMKSMO");
    var CODE_MO = User.CODE_MO();
}


@section Lib
{
    <link href="~/lib/Select2/select2.min.css" rel="stylesheet" />
    <script src="~/lib/Select2/select2.min.js"></script>

    <script src="~/lib/angularJS/angular.min.js"></script>
    <script src="~/lib/angularJS/angular-touch.js"></script>
    <script src="~/lib/angularJS/angular-animate.js"></script>
    <script src="~/lib/angularJS/angular-aria.js"></script>

    <script src="~/lib/angularJS/angular.min.js"></script>
    <script src="~/lib/angularJS/angular-touch.min.js"></script>
    <script src="~/lib/angularJS/angular-animate.min.js"></script>
    <script src="~/lib/angularJS/angular-aria.min.js"></script>
   

    <script src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.core.My.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.pagination.min.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.cellnav.min.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.selection.min.js"></script>
    <script src="~/lib/angular-ui-grid/i18n/ui-grid.language.ru.min.js"></script>
    <link href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <script src="~/lib/angular-ui-grid/ui-grid.resize-columns.min.js"></script>
    <link href="~/lib/angular-ui-grid/ui-gridCustomStyle.css" rel="stylesheet" />
    <script src="~/lib/angular-ui-grid/ui-grid.auto-resize.min.js"></script>
    
   

    <link href="~/lib/ContextMenu/ContextMenu.css" rel="stylesheet" />
    <script src="~/lib/ContextMenu/contextMenu.js"></script>
    <script src="~/lib/ContextMenu/ui-bootstrap-tpls-2.5.0.js"></script>



    <link href="~/lib/ModalWindow/Modal.css" rel="stylesheet" />
    <script src="~/lib/ModalWindow/Modal.js"></script>


    <link href="~/lib/grid-msg-loader/grid-msg-loader.css" rel="stylesheet" />
    <script src="~/lib/grid-msg-loader/grid-msg-loader.js"></script>
    <script src="~/js/underscore.min.js"></script>
    <script src="~/js/AngularJSApp/AppTMKReestr.js" asp-append-version="true"></script>
}

@section Style
{
    <link href="~/css/Tooltip.css" rel="stylesheet" />
    <link href="~/lib/collapsible/collapsible.css" rel="stylesheet" />
    <link href="~/css/lds-hourglass-loader.css" rel="stylesheet" />

    <style>
        th {
            position: sticky;
            top: -1px;
            z-index: 2;
        }

        .card {
            border: 0;
            float: left;
            position: relative;
        }

        .cornerimage {
            border: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>


    <style>
        .ui-grid-header-cell .ui-grid-cell-contents {
            height: 110px;
            word-wrap: break-word;
            white-space: normal;
            display: flex;
            align-content: stretch;
        }

        .ui-grid-viewport .ui-grid-cell-contents {
            word-wrap: break-word;
            white-space: normal !important;
            padding: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            height: 100%;
        }

        .ui-grid-row, .ui-grid-cell {
            height: auto !important;
        }

            .ui-grid-row div[role=row] {
                display: flex;
                align-content: stretch;
            }

        .uiGrd {
            height: 70vh;
        }
    </style>
}

@section Scripts
{
    <script src="~/lib/collapsible/collapsible.js"></script>
}

<div ng-controller="Grid1 as $GRID1" id="GRID1" ng-app="myApp" ng-init="init(@($"{(IsTMKUser ? "true" : "false")},{(IsTMKAdmin ? "true" : "false")},{(IsTMKReader ? "true" : "false")},{(IsTMKSMO ? "true" : "false")},'{CODE_MO}')")">

    <div>
        <div class="collapsible">
            <div active class="collapsible-header">Поиск</div>
            <div class="collapsible-content">
                <p></p>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <label class="label-sup">Полис <input type="text" name="ENP" ng-model="Filter.ENP" /></label>
                        <label class="label-sup">Фамилия <input type="text" name="FAM" ng-model="Filter.FAM" /></label>
                        <label class="label-sup">Имя <input type="text" name="IM" ng-model="Filter.IM" /></label>
                        <label class="label-sup">Отчество <input type="text" name="OT" ng-model="Filter.OT" /></label>
                        <label class="label-sup">Дата рождения <input type="date" name="DR" ng-model="Filter.DR" /></label>
                    </div>
                    <div>
                        <input type="button" class="delButton" value="Очистить" ng-click="ClearFilter()" />
                    </div>
                </div>
                <hr />

                <div>
                    <table style="width: 100%; text-align: left;">
                        <tr>
                            <th style="width: 30%;">Дата начала лечения</th>
                            <td>
                                <label class="label-sup">от <input type="date" name="DATE_B_BEGIN" ng-model="Filter.DATE_B_BEGIN" /></label> <label class="label-sup">до <input type="date" name="DATE_B_END" ng-model="Filter.DATE_B_END" /></label>
                            </td>
                        </tr>
                        <tr>
                            <th>Дата оформления запроса на ТМК</th>
                            <td>
                                <label class="label-sup">от <input type="date" name="DATE_QUERY_BEGIN" ng-model="Filter.DATE_QUERY_BEGIN" /></label> <label class="label-sup">до <input type="date" name="DATE_QUERY_END" ng-model="Filter.DATE_QUERY_END" /></label>
                            </td>
                        </tr>
                        <tr>
                            <th>Дата получения протокола</th>
                            <td>
                                <label class="label-sup">от <input type="date" name="DATE_PROTOKOL_BEGIN" ng-model="Filter.DATE_PROTOKOL_BEGIN" /></label> <label class="label-sup">до <input type="date" name="DATE_PROTOKOL_END" ng-model="Filter.DATE_PROTOKOL_END" /></label>
                            </td>
                        </tr>
                        <tr>
                            <th> Дата проведения очной консультации \ консилиума</th>
                            <td>
                                <label class="label-sup">от <input type="date" name="DATE_TMK_BEGIN" ng-model="Filter.DATE_TMK_BEGIN" /></label> <label class="label-sup">до <input type="date" name="DATE_TMK_END" ng-model="Filter.DATE_TMK_END" /></label>
                            </td>
                        </tr>

                    </table>
                </div>
                <hr />
                <div>

                    <table style="width: 100%; text-align: left;">
                        <tr>
                            <th style="width: 30%;">Медицинская организация</th>
                            <td>
                                <select id="FilterCODE_MO" style="width: 100%;" class="select-select2" multiple="multiple" select-2 ng-model="Filter.CODE_MO">
                                    @foreach (var item in Model.CODE_MO)
                                    {
                                        <option value="@item.MCOD">@item.NAM_MOK</option>
                                    }
                                </select>

                            </td>
                        </tr>

                        <tr>
                            <th>Страховая компания</th>
                            <td>
                                <select id="FilterSMO" style="width: 100%;" class="select-select2" multiple="multiple" select-2 ng-model="Filter.SMO">
                                    @foreach (var item in Model.CODE_SMO)
                                    {
                                        <option value="@item.SMOCOD">@item.NAM_SMOK</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>Вид медицинской документации</th>
                            <td>
                                <select id="FilterVID_NHISTORY" style="width: 100%;" class="select-select2" multiple="multiple" select-2 ng-model="Filter.VID_NHISTORY">
                                    @foreach (var item in Model.NMIC_VID_NHISTORY)
                                    {
                                        <option value="@item.ID_VID_NHISTORY">@item.VID_NHISTORY</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>Тип оплаты</th>
                            <td>
                                <select id="FilterOPLATA" style="width: 100%;" class="select-select2" multiple="multiple" select-2 ng-model="Filter.OPLATA">
                                    @foreach (var item in Model.NMIC_OPLATA)
                                    {
                                        <option value="@item.ID_OPLATA">@item.OPLATA</option>
                                    }
                                </select>
                            </td>
                        </tr>

                    </table>



                </div>
                <hr />
                <input type="button" class="ActionButton" value="Найти" style="display: table; margin: 0 auto;" ng-click="Find()" />
                <p></p>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <button ng-if="IsTMKUser" ng-click="AddTMK()" class="ActionButton">Новая запись</button>
        <button class="ActionButton" ng-click="getXLS()">Скачать Excel</button>
    </div>
    <p></p>


    <div>
        <div ui-i18n="'ru'">
            <p class="BoldText TextCursiv">*Управление таблицей происходит с помощью выделения и правой кнопки мыши</p>
            <p class="BoldText TextCursiv">*Двойной щелчок левой кнопки мыши открывает запись</p>
            <div class="uiGrd" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-loader>

            </div>
        </div>
    </div>


    <modal id="custom-modal-1">
        <div class="modal">
            <div class="modal-body">
                <div class="modal-head">
                    <h1>Caption</h1>
                    <span class="close" ng-click="closeModal('custom-modal-1');">&times;</span>
                </div>
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>

    <modal id="custom-modal-2">
        <div class="modal">
            <div class="modal-body">
                <div class="modal-head">
                    <h1>Caption</h1>
                    <span class="close" ng-click="closeModal('custom-modal-2');">&times;</span>
                </div>
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>


</div>


