@using ServiceLoaderMedpomData
@using SiteCore.Class
@model ViewReestrViewModel
@{
    Layout = null;
}

@if (!Model.ConnectWCFon)
{
    <div>
        <p style="text-align:left; color:red">
            Нет связи с сервисом приема
        </p>
    </div>
}

@if (Model.FP == null)
{
    <h2>Нет текущих пакетов</h2>
}
else
{
    <h2></h2>

    <table>
        <tr>
            <td width="200px">Код МО</td>
            <td><b>@Model.FP.CodeMO</b></td>
        </tr>
        <tr>
            <td>Наименование МО</td>
            <td><b>@Model.FP.CaptionMO</b></td>
        </tr>
        <tr>
            <td>Дата создания</td>
            <td><b>@Model.FP.Date.ToShortDateString() @Model.FP.Date.ToShortTimeString()</b></td>
        </tr>
        <tr>
            <td>Источник</td>
            <td>
                @{switch (Model.FP.IST)
                    {
                        case IST.MAIL: <span><b> Почта(VipNet)</b></span> break;
                        case IST.SITE: <span><b> Сайт</b></span> break;
                        default:
                            <span><b>@Model.FP.IST.ToString()</b></span> break;
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>
                @{
                    switch (Model.FP.Status)
                    {
                        case StatusFilePack.FLKOK: <span class="GreenText"><b>Завершено</b></span> break;
                        case StatusFilePack.FLKERR: <span class="RedText"><b>Ошибка при проверке</b></span> break;
                        default:
                            <span><b class="YellowText">В работе</b></span> break;
                    }

                }
            </td>
        </tr>
        <tr>
            <td>Комментарий</td>
            <td><b>@Model.FP.CommentSite</b></td>
        </tr>
        @if (Model.Order > 0)
        {
            <tr>
                <td>Позиция в очереди</td>
                <td><b><span>@Model.Order</span></b></td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Model.FP.WARNNING))
        {
            <tr>
                <td>Предупреждение</td>
                <td><b><span class="YellowText">@Model.FP.WARNNING</span> </b></td>
            </tr>
        }
    </table>

    <div id="container" style="padding-top:10px">
        <div>
            <table class="customers">
                <tbody>
                    <tr>
                        <th width="2%">
                        </th>
                        <th width="20%">Имя файла</th>
                        <th width="20%">Тип файла</th>
                        <th width="10%">Статус</th>
                        <th width="45%">Комментарий</th>
                    </tr>
                    @foreach (var f in Model.FP.Files)
                    {
                        <tr>
                            <td>
                                @switch (f.Process)
                                {
                                    case StepsProcess.FlkOk:
                                        <img src="~/Image/IconOK.png" width="16" height="16" alt="ОК" />
                                        break;
                                    case StepsProcess.ErrorXMLxsd:
                                    case StepsProcess.FlkErr:
                                    case StepsProcess.NotInvite:
                                        <img src="~/Image/IconERROR.png" width="16" height="16" alt="Error" />
                                        break;
                                    case StepsProcess.Invite:
                                    case StepsProcess.XMLxsd:
                                        <img src="~/Image/IconWarning.png" width="16" height="16" alt="Warning" />
                                        break;
                                }
                            </td>
                            <td>@f.FileName</td>
                            <td>@f.Type - @f.Type?.RusName()</td>
                            <td style="font-size:12px;">@f.Process.RusName() </td>
                            <td style="font-size:12px;"><span>@f.Comment</span></td>


                        </tr>

                        if (f.filel != null)
                        {
                            <tr class="LFile">
                                <td>
                                    @switch (f.filel.Process)
                                    {
                                        case StepsProcess.FlkOk:
                                            <img src="~/Image/IconOK.png" width="16" height="16" alt="ОК" />
                                            break;
                                        case StepsProcess.ErrorXMLxsd:
                                        case StepsProcess.FlkErr:
                                        case StepsProcess.NotInvite:
                                            <img src="~/Image/IconERROR.png" width="16" height="16" alt="Error" />
                                            break;
                                        case StepsProcess.Invite:
                                        case StepsProcess.XMLxsd:
                                            <img src="~/Image/IconWarning.png" width="16" height="16" alt="Warning" />
                                            break;
                                    }
                                </td>
                                <td>@f.filel.FileName</td>
                                <td>@f.filel.Type - @f.filel.Type?.RusName()</td>
                                <td>@f.filel.Process.RusName()</td>
                                <td><span>@f.filel.Comment</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>





        </div>

    </div>
}



<form asp-action="DownloadProtocol" method="get">
    @{
        var isProtocol = !Model.ConnectWCFon && !string.IsNullOrEmpty(Model?.FP?.PATH_ZIP);
    } 
    <input class="ActionButton" type="submit" value="Скачать протокол"  @(isProtocol? "disabled" : "")    />
</form>