@model EditErrorSPRViewModel

<form method="POST" data-ajax="true" data-ajax-url="@Url.Action("EditErrorSPR")" data-ajax-success="OnSuccessEditError" data-ajax-Failure="OnFailureEditError"  asp-antiforgery="true">
    
    <div asp-validation-summary="ModelOnly" class="ErrorLi"></div>
    <input type="hidden" name="ID_ERR" value="@Model.Error.ID_ERR" />

    <table style="width: 98%;">
        <tr>
            <td style="width: 20%;">Секция</td>
            <td>
                <select class="select-select2" name="ID_SECTION" style="width: 100%">
                    <option disabled selected>------</option>
                    @foreach (var item in Model.Section)
                    {
                        <option  selected="@(item.ID_SECTION == Model.Error.ID_SECTION ? "selected" : "")"  value="@item.ID_SECTION">@item.SECTION_NAME</option>
                    }
                </select>
            </td>
        </tr>

        <tr>
            <td>Код ошибки</td>
            <td>
                <input type="text" name="OSN_TFOMS" value="@Model.Error.OSN_TFOMS" style="width: 100%;" />
            </td>
        </tr>

        <tr>
            <td>Пример текста ошибки</td>
            <td>
                <input type="text" name="EXAMPLE" value="@Model.Error.EXAMPLE" style="width: 100%;" />
            </td>
        </tr>

    </table>
    <style>
        .ck-editor__editable_inline {
            max-height: 400px !important;
        }
    </style>
    <p></p>
    <div>
        <textarea style="max-height: 600px" id="editorEditErr" name="TEXT_STR">@Model.Error.TEXT_STR</textarea>
    </div>
    <p></p>
    <div>
        <input type="submit" value="Сохранить" class="ActionButton" />
    </div>
</form>

<script>
    ClassicEditor.create(document.querySelector('#editorEditErr'))
        .then(editor => {
            console.log('Editor was initialized', editor);
        })
        .catch(error => {
            console.error(error.stack);
        });

    $(document).ready(function () {
        $('.select-select2').select2();
    });
</script>

