@model EditErrorSPRViewModel
@{
    var isAdmin = User.IsInRole("Admin");
    var d_beging = DateTime.Now.Date.AddDays(-30);
    var d_end = DateTime.Now.Date;
    var TOP10 = Model.Section.SelectMany(x => x.Error).Where(x => x.D_EDIT.Date >= d_beging && x.D_EDIT.Date <= d_end).OrderByDescending(x => x.D_EDIT).ThenBy(x => x.OSN_TFOMS).ToList();
}
@if (TOP10.Count != 0)
{
    <div>
        <h2>Последние изменения(за 30 дней)</h2>
        <div>
            <table class="table_report">
                <tr>
                    <th>Дата редактирования</th>
                    <th>Код</th>
                    <th>Текст ошибки</th>
                    <th>Подробнее</th>
                    @if (isAdmin)
                    {
                        <th style="width: 80px;">Действия</th>
                    }
                </tr>
                @foreach (var it in TOP10)
                {
                    <tr>
                        <td>@it.D_EDIT.ToString("dd.MM.yyyy")</td>
                        <td>@it.OSN_TFOMS</td>
                        <td>@it.EXAMPLE</td>

                        <td>
                            <div style="margin: 1px;">
                                <form method="GET" data-ajax="true" data-ajax-url="@Url.Action("ViewDetailErrorSPR")" data-ajax-update="#ModalAjaxContent" data-ajax-success="showModal">
                                    <input type="hidden" name="ID_ERR" value="@it.ID_ERR"/>
                                    <input type="submit" class="ActionButton" value="Открыть"/>
                                </form>
                            </div>
                        </td>
                        @if (isAdmin)
                        {
                            <td>
                                <div style="display: flex;">
                                    <form method="GET" data-ajax="true" data-ajax-url="@Url.Action("EditErrorSPR")" data-ajax-update="#ModalAjaxContent" data-ajax-success="showModal">
                                        <input type="hidden" name="ID_ERR" value="@it.ID_ERR"/>
                                        <input type="submit" class="editButtonICO" value=""/>
                                    </form>
                                    <form method="post" data-ajax="true" data-ajax-url="@Url.Action("DeleteError")" data-ajax-update="#ErrorListArea" data-ajax-confirm="Вы уверены что хотите удалить ошибку?">
                                        <input type="hidden" name="ID_ERR" value="@it.ID_ERR"/>
                                        <input type="submit" class="delButtonICO" value=""/>
                                    </form>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>

}



@foreach (var sec in Model.Section.OrderBy(x => x.ORD))
{
    var items = sec.Error.OrderBy(x => x.OSN_TFOMS);
    <div>
        <h2>@sec.SECTION_NAME</h2>
        <div>
            <table class="table_report">
                <tr>
                    <th>Дата редактирования</th>
                    <th>Код</th>
                    <th>Текст ошибки</th>
                    <th>Подробнее</th>
                    @if (isAdmin)
                    {
                        <th style="width: 80px;">Действия</th>
                    }
                </tr>
                @foreach (var it in items)
                {
                    <tr>

                        <td>@it.D_EDIT.ToString("dd.MM.yyyy")</td>
                        <td>@it.OSN_TFOMS</td>
                        <td>@it.EXAMPLE</td>

                        <td>
                            <div style="margin: 1px;">
                                <form method="GET" data-ajax="true" data-ajax-url="@Url.Action("ViewDetailErrorSPR")" data-ajax-update="#ModalAjaxContent" data-ajax-success="showModal">
                                    <input type="hidden" name="ID_ERR" value="@it.ID_ERR"/>
                                    <input type="submit" class="ActionButton" value="Открыть"/>
                                </form>
                            </div>
                        </td>
                        @if (isAdmin)
                        {
                            <td>
                                <div style="display: flex;">
                                    <form method="GET" data-ajax="true" data-ajax-url="@Url.Action("EditErrorSPR")" data-ajax-update="#ModalAjaxContent" data-ajax-success="showModal">
                                        <input type="hidden" name="ID_ERR" value="@it.ID_ERR"/>
                                        <input type="submit" class="editButtonICO" value=""/>
                                    </form>
                                    <form method="post" data-ajax="true" data-ajax-url="@Url.Action("DeleteError")" data-ajax-update="#ErrorListArea"  data-ajax-confirm="Вы уверены что хотите удалить ошибку?">
                                        <input type="hidden" name="ID_ERR" value="@it.ID_ERR"/>
                                        <input type="submit" class="delButtonICO" value=""/>
                                    </form>
                                </div>

                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
}

