@model List<SiteCore.Data.Abort_Row>

<p/>
<table class="table_report">
    <tr>
        <th>Диагноз</th>
        <th>МКБ</th>
        <th>Условие оказания</th>
        <th>Кол-во</th>
        <th>Сумма</th>
    </tr>
    @foreach (var row in Model)
    {
        <tr style="font-weight: @(!row.USL.HasValue? "bold" : "normal")">
            <td style="text-align: left;">@row.Text</td>
            <td>@row.DS</td>
            <td>@row.USL</td>
            <td style="text-align: right;">@row.C.ToString("### ### ### ###")</td>
            <td style="text-align: right;">@row.SUMV.ToString("### ### ### ###")</td>
        </tr>
    }
</table>

<p />

<form asp-action="GET_ABORT_VIEWXLS" method="get">
    <input type="submit" @(Model.Count == 0 ? "disabled" : "") value="Скачать Excel" class="ActionButton" />
</form>




