@using SiteCore.Class
@model List<SiteCore.Data.KOHL_Row>
<p />
<div style="overflow: auto;">
    <table class="table_report">
        <tr>
            <th>SLUCH_ID</th>
            <th>ОКАТО</th>
            <th>Наименование</th>
            <th>Код МО</th>
            <th>Наименование МО</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th style="min-width: 80px;">Дата рождения</th>
            <th style="min-width: 80px;">Дата начала</th>
            <th style="min-width: 80px;">Дата окончания</th>
            <th>МКБ</th>
            <th>Диагноз</th>
            <th>Сумма</th>
            <th>Принято</th>
            <th>Комментарий</th>
            <th>Услуги</th>
        </tr>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.SLUCH_ID</td>
                <td>@row.C_OKATO</td>
                <td>@row.NAME_TFK</td>
                <td>@row.LPU</td>
                <td>@row.NAM_MOK</td>
                <td>@row.FAM</td>
                <td>@row.IM</td>
                <td>@row.OT</td>
                <td>@row.DR.ToString("dd-MM-yyyy")</td>
                <td>@row.DATE_1.ToString("dd-MM-yyyy")</td>
                <td>@row.DATE_2.ToString("dd-MM-yyyy")</td>
                <td>@row.DS1</td>
                <td>@row.DS1_NAME</td>
                <td>@row.SUMV</td>
                <td>@row.SUMP</td>
                <td>@row.COMENTSL</td>
                <td>@row.USL</td>
            </tr>
        }
    </table>
</div>
<p />
<form asp-action="GET_KOHL_VIEWXLS" method="get">
    <input type="submit" value="Скачать Excel" class="ActionButton" @(Model.Count == 0 ? "disabled" :"") />
</form>
